@import "tailwindcss";

body {
  background: #ededed;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

.safe-area {
  max-width: 650px;
}

.container {
  background-color: #fff;
  border: 1px solid #dcdfdf;
  padding: 1rem 0.5rem;
}
